@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Criador"]</p>
<address>
    <strong>Git: </strong> <a href="https://github.com/GuilhermeNicolodi/ProgramaWebMvc">Clique aqui</a>
</address>
